li.tc-ctl-lcat-node > button.tc-ctl-lcat-btn-info {
    right: 0;
    background: none;
    color: var(--sec-btn-color);
    cursor: pointer;
    z-index: 10000;
    font-size: 100%;
    border: 0;
    padding: 0 0.4em
}

.tc-ctl-lcat .tc-ctl-lcat-info-close:after {
    content: '\2716';
    font-size: unset;
}

.tc-ctl-lcat .tc-ctl-lcat-info h3:before {
    font-family: mapskin;
    content: '\e024';
    font-size: unset;
}

.tc-ctl-lcat-info h4 {
    margin: 0.5em 0 0.2em 0;
    text-transform: unset;
}

@media screen and (min-height: 40em) and (pointer: fine), screen and (min--moz-device-pixel-ratio:0) and (min-height:40em) {

    .tc-ctl-lcat .tc-ctl-lcat-info-close {
        font-size: 1.3em;
    }

}