<div class="reset-password-page" *ngIf="tokenValid">
  <div class="container">

    <div class="title-section">
      <div class="logo-sitmun"></div>
      <h1> {{'resetPasswordPage.title' | translate }} </h1>
    </div>

    <div class="form-section">
      <form (submit)="changePassword()">
        <form-field-input
          class="reset-password-input"
          [input_type]="'password'"
          [input_title]="'resetPasswordPage.passwordText' | translate"
          [input_placeholder]="'resetPasswordPage.passwordPlaceholder' | translate"
          [input_name]="'mail'"
          [input_model]="this.password"
          (output_model)="this.password = $event" />

        <form-field-input
          class="reset-password-input"
          [input_type]="'password'"
          [input_title]="'resetPasswordPage.passwordConfirmationText' | translate"
          [input_placeholder]="'resetPasswordPage.passwordConfirmationPlaceholder' | translate"
          [input_name]="'mail'"
          [input_model]="this.password_confirmation"
          (output_model)="this.password_confirmation = $event" />

        <primary-button
          class="reset-password-button"
          [button_text]="'resetPasswordPage.submit' | translate" />
      </form>
    </div>
    <p> <a href="auth/login"> < {{ 'forgotPasswordPage.backToLogin' | translate }} </a> </p>
  </div>
</div>
