<div class="forgot-password-page">
  <div class="container">
    <!-- forgot-password form-->
    <ng-container *ngIf="!showResetPasswordForm">
      <ng-container *ngTemplateOutlet="forgotPassword"></ng-container>
    </ng-container>

    <!-- reset-password form -->
    <ng-container *ngIf="showResetPasswordForm">
      <ng-container *ngTemplateOutlet="resetPassword"></ng-container>
    </ng-container>

    <div class="form-navigation">
      <button (click)="previous()" > < {{ 'forgotPasswordPage.backToLogin' | translate }} </button>
      <button (click)="next()" *ngIf="codeReceived"> {{ 'forgotPasswordPage.backToResetPasswordForm' | translate }} > </button>
    </div>
  </div>
</div>

<ng-template #forgotPassword>
   <div class="title-section">
      <div class="logo-sitmun"></div>
      <h1> {{'forgotPasswordPage.forgotPasswordForm.title' | translate }} </h1>
      <div class="description">
        <p> {{'forgotPasswordPage.forgotPasswordForm.description' | translate }} </p>
      </div>
    </div>

    <div class="form-section">
      <form (submit)="requestNewPassword()">
        <form-field-input
          class="forgot-password-input"
          [input_type]="'text'"
          [input_title]="'forgotPasswordPage.forgotPasswordForm.mailText' | translate"
          [input_placeholder]="'forgotPasswordPage.forgotPasswordForm.mailPlaceholder' | translate"
          [input_name]="'mail'"
          [input_model]="recoveryRequest.email"
          (output_model)="recoveryRequest.email = $event" />
        <div class="test">
          <primary-button
            class="forgot-password-button"
            [button_text]="'forgotPasswordPage.forgotPasswordForm.submit' | translate" />
        </div>

      </form>
    </div>
</ng-template>

<ng-template #resetPassword>
 <div class="title-section">
      <div class="logo-sitmun"></div>
      <h1> {{'forgotPasswordPage.resetPasswordForm.title' | translate }} </h1>
    </div>

    <div class="form-section">
      <form (submit)="ConfirmResetPassword()">
         <form-field-input
          class="reset-password-input"
          [input_type]="'number'"
          [input_title]="'forgotPasswordPage.resetPasswordForm.codeText' | translate"
          [input_placeholder]="'forgotPasswordPage.resetPasswordForm.codePlaceholder' | translate"
          [input_name]="'code'"
          [input_length]="8"
          [input_model]="resetPasswordRequest.codeOTP"
          (output_model)="resetPasswordRequest.codeOTP = $event"
          />

        <form-field-input
          class="reset-password-input"
          [input_type]="'password'"
          [input_title]="'forgotPasswordPage.resetPasswordForm.passwordText' | translate"
          [input_placeholder]="'forgotPasswordPage.resetPasswordForm.passwordPlaceholder' | translate"
          [input_name]="'password'"
          [input_model]="resetPasswordRequest.newPassword"
          (output_model)="resetPasswordRequest.newPassword = $event" />

        <form-field-input
          class="reset-password-input"
          [input_type]="'password'"
          [input_title]="'forgotPasswordPage.resetPasswordForm.passwordConfirmationText' | translate"
          [input_placeholder]="'forgotPasswordPage.resetPasswordForm.passwordConfirmationPlaceholder' | translate"
          [input_name]="'password_confirmation'"
          [input_model]="confirmationNewPassword"
          (output_model)="confirmationNewPassword = $event" />

        <div class="main-button">
          <primary-button
            class="reset-password-button"
            [button_text]="'forgotPasswordPage.resetPasswordForm.submit' | translate" />
        </div>
      </form>
      <primary-button
        *ngIf="showResendCode"
        class="reset-password-button"
        [button_text]="'forgotPasswordPage.resetPasswordForm.resendCode'|translate"
        (click)="resendCode()" />
    </div>
</ng-template>
