<div class="forgot-password-page">
  <div class="container">

    <div class="title-section">
      <div class="logo-sitmun"></div>
      <h1> {{'forgotPasswordPage.title' | translate }} </h1>
      <div class="description">
        <p> {{'forgotPasswordPage.description' | translate }} </p>
      </div>
    </div>

    <div class="form-section">
      <form (submit)="sendMail()">
        <form-field-input
          class="forgot-password-input"
          [input_type]="'text'"
          [input_title]="'forgotPasswordPage.mailText' | translate"
          [input_placeholder]="'forgotPasswordPage.mailPlaceholder' | translate"
          [input_name]="'mail'"
          [input_model]="this.recoveryRequest.login"
          (output_model)="this.recoveryRequest.login = $event" />
        <primary-button
          class="forgot-password-button"
          [button_text]="'forgotPasswordPage.submit' | translate" />
      </form>
    </div>

    <p> <a href="auth/login"> < {{ 'forgotPasswordPage.backToLogin' | translate }} </a> </p>
  </div>
</div>
