@use 'src/styles/colors';
@use 'src/styles/dimensions';

.dashboard-buttons {
  max-width: 1560px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;

  button {
    font-weight: bold;
    font-size: 30px;
    color: #758BFD;
    background: white;
    border: none;
    border-bottom: 3px solid #758BFD;
    padding-bottom: 5px;
  }

  button:hover {
    color: #27187E;
    border-color: #27187E;
  }

  button:focus {
    color: #27187E;
    border-color: #27187E;
  }
}

.items-container {
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
}
