<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <div [innerHTML]="message"></div>
</mat-dialog-content>
<mat-dialog-actions>
  <ng-container *ngIf="type === types.CONFIRM">
    <button mat-button [mat-dialog-close]="false">
      <mat-icon>undo</mat-icon>
      Cancelar
    </button>
    <button mat-button [mat-dialog-close]="true">Continuar</button>
  </ng-container>
  <ng-container *ngIf="type === types.ALERT">
    <button mat-button [mat-dialog-close]="true">Cerrar</button>
  </ng-container>
</mat-dialog-actions>
