@use 'colors';
@use 'dimensions';

.auth-nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: colors.$navigation-bar-font;
  background: colors.$common-color-background-navbar;

  .public-nav-bar {
    width: 80%;
  }

  .user-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
    padding: 0 1em;

    button {
      margin: dimensions.$navigation-bar-logo-margin-top dimensions.$navigation-bar-logo-margin-left;
      height: dimensions.$navigation-bar-logout-height;
      width: dimensions.$navigation-bar-logout-width;
      background: colors.$navigation-bar-button-logout-background;
      padding: 0;
      border: 0;

      img {
        width: auto;
        height: 100%;
      }
    }
    button:hover {
      transform: scale(1.25);
    }
  }
}
