<div class="cards-container">
  <div class="card" *ngFor="let item of items | paginate: { currentPage: page.toString(), itemsPerPage: size, totalItems: totalElements, id:'pagination_dashboard'
  }" (click)="onCardClicked(item.id)">
    <ng-container *ngIf="item.img; else noimg">
      <div class="card-img">
        <img [src]="item.img">
      </div>
    </ng-container>
    <ng-template #noimg>
      <div class="card-img card-img{{item.id}}">
        <img src="{{ item.logo ? item.logo : 'assets/img/card-no-image.svg' }}" >
      </div>
    </ng-template>
    <div class="card-titles">
      <div>
        <!-- <label>{{'dashboardPage.name' | translate}}:</label>&nbsp;<strong>{{item.title}} {{item.name}}</strong> -->
        <strong>{{item.title}} {{item.name}}</strong>
      </div>
      <!-- <div>
        <label>{{'dashboardPage.id' | translate}}: {{item.id}}</label>
      </div> -->
    </div>
  </div>
</div>
