@use 'src/styles/dimensions';
@use 'src/styles/colors';

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;


  .card {
    display: flex;
    width: 21%;
    min-width: 384px;
    max-width: fit-content;
    align-items: center;
    margin: dimensions.$base-margin-2;
    color: colors.$card-component-font;
    background: colors.$card-component-background;
    border: dimensions.$base-border-3 solid colors.$card-component-border;
    border-radius: 15px;
  }

  .card:hover {
    border: dimensions.$base-border-3 solid colors.$card-component-border-hover;
    .card-img img {
      background-color: colors.$card-component-img-hover;
      opacity: 100%;
    }
  }

  .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: dimensions.$base-margin-2;
    border-radius: 10px;

    img {
      width: dimensions.$card-component-img-height;
      height: dimensions.$card-component-img-width;
      border-radius: dimensions.$card-component-img-radius;
      opacity: 50%;
    }
  }

  .card-titles {
    display: flex;
    flex-direction: column;
    margin: dimensions.$base-margin-2;

    label {
      margin: dimensions.$base-margin;
    }
  }

}

