<div class="cards-container">
  <div class="card" *ngFor="let item of items | paginate: { currentPage: page.toString(), itemsPerPage: size, totalItems: totalElements, id:'pagination_dashboard'
  }" (click)="onCardClicked(item.id)">
    <ng-container *ngIf="item.img; else noimg">
      <div class="card-img">
        <img [src]="item.img">
      </div>
    </ng-container>
    <ng-template #noimg>
      <div class="card-img">
        <img src="assets/img/card-no-image.svg">
      </div>
    </ng-template>
    <div class="card-titles">
      <label>{{'dashboardPage.name' | translate}}: {{item.title}} {{item.name}}</label>
      <label>{{'dashboardPage.id' | translate}}: {{item.id}}</label>
    </div>
  </div>
</div>
