<div class='{{tamanyMenu()}}' *ngIf="!navigationBarIsHidden">
  <div class="dashboard-container">
    <div class="left">
      <img id="sitmun-logo" class="nav-bar-img" (click)="homeRedirect()" alt="logo" src="assets/logos/logo_orange.png" *ngIf="isConnected() && (headerBase?.logoSitmun?.visible !== false)"/>
      <div *ngFor="let item of headerLeftSection">
        <img class="nav-bar-img" *ngIf="item?.visible && item?.url" [src]="item?.url" [alt]="item?.alt" />
      </div>
    </div>

    <div class="right">
      <div *ngFor="let item of headerRightSection">
        <img class="nav-bar-img" *ngIf="item?.visible && item?.url" [src]="item?.url" [alt]="item?.alt" />
      </div>
      <secondary-button
        *ngIf="isOnMap() && showChangeAppOrTerritoryButton && (headerBase?.switchApplication?.visible !== false)"
        (click)="displayTerritoriesAppList = !displayTerritoriesAppList"
        [button_text]="'genericPrivateHeaders.changeAppOrTerritory' | translate"
        [button_img_url]="'assets/img/Icona-canviar.svg'"
      />
      <button
        class="home-menu button-menu"
        [class.active]="navigationClassActive === 'home'"
        (click)="homeRedirect()"
        *ngIf="notInAuth()">
      </button>
      <button
        class="authentication-menu"
        (click)="showAuthenticationPopup()">
      </button>
    </div>
  </div>
  <button class="hide-navigationbar" (click)="navigationBarIsHidden = true" *ngIf="isOnMap()">
    <img src="assets/img/Icona-fletxa-cap-avall.svg"/>
  </button>
</div>

<div class="navbar-responsive" *ngIf="isConnected()">
  <div class="home-button" [class.active]="navigationClassActive === 'home'">
    <button (click)="homeRedirect()">
      <div class="icon"></div>
    </button>
  </div>

  <div class="profile-button" [class.active]="navigationClassActive === 'profile'" *ngIf="isConnected() && !isPublicDashboard()">
    <button (click)="profileRedirect()">
      <div class="icon"></div>
    </button>
  </div>

  <div class="logout-button" *ngIf="!isPublicDashboard()">
    <button (click)="logoutRedirect()">
      <div class="icon"></div>
    </button>
  </div>
</div>

<app-menu
  *ngIf="showPopup"
  [username]="username"
  [isConnected]="isConnected()"
  [showLogoutButton]="headerBase?.logoutButton?.visible && isOnMap()"
  [showSwitchLanguageButton]="headerBase?.switchLanguageButton?.visible && isOnMap()"
  [showProfileButton]="headerBase?.profileButton?.visible && isOnMap()"
  (hideEvent)="showAuthenticationPopup()"
  (loginEvent)="loginRedirect()"
  (logoutEvent)="logoutRedirect()"
  (profileEvent)="profileRedirect()"
  (languageEvent)="changeLanguage($event)">
</app-menu>

<div class="navbar-map-hidden" *ngIf="isOnMap() && navigationBarIsHidden">
  <button (click)="navigationBarIsHidden = false">
    <img src="assets/img/Icona-menu.svg" />
  </button>
</div>

<div id="changeDisplayedMap" *ngIf="displayTerritoriesAppList && isOnMap()">
  <app-territories-list
  (close)="displayTerritoriesAppList = !displayTerritoriesAppList"/>
</div>
