@use 'colors';
@use 'dimensions';

:host
{
  display: flex;
}


.nav-bar {
  color: colors.$common-color-font-primary;
  background: colors.$common-color-background-navbar-with-opacity;
  z-index: 99999;
  width: 100%;
  background-color: #FF9300;

  div {
    margin-left: auto;
    margin-right:auto;
    max-width: 1630px;
    height: 70px;
    position: relative;

    .logo {
      padding-top: 10px;

      img {
        width: auto;
        height: 50px;
      }
    }

    .select-language {
      margin: 20px 20px 0px 0px;
      height: 40px;
      width: 140px;
      position: absolute;
      right: 0px;
      top: 0px;

      select {
        border: 0;
        outline: 0;
        height: 40px;
        width: 130px;
        color: white;
        border-radius: 0.25em;
        border: 1px solid #ffffff;
        background-color: transparent;
        backdrop-filter: blur(2px);
        cursor: pointer;
        padding-left: 7px;
      }

      select::after {
        content: '\25BC';
        position: absolute;
        top: 0;
        right: 0;
        padding: 1em;
        background-color: #34495e;
        transition: .25s all ease;
        pointer-events: none;
      }

      select:hover::after {
        color: #f39c12;
      }
    }

    .select-language > select > option {
      background-color: red;
    }

    .menu {
      position: absolute;
      right: 0px;
      top: 0px;
      height: 70px;
      display: inline-block;
      width: 70px;

      button {
        padding: 0;
        border: none;
        background: colors.$navigation-bar-menu-button-background;
        cursor: pointer;
        height: 70px;
        width: 70px;

        img {
          height: 40px;
        }
      }
    }
  }
}
.nav-bar.pet{
  div {
    height: 40px;
    max-width: 100%;
    .logo {
      padding-top: 5px;

      img {
        width: auto;
        height: 30px;
        margin-left: 20px;
      }
    }
    .menu {
      height: 40px;
      width: 40px;

      button {
        height: 40px;
        width: 40px;

        img {
          height: 30px;
        }
      }
    }
  }
}
.nav-bar.login{
  background-color: transparent;
  div {
    max-width: calc(100% - 20px);
  }
}

@media all and (max-width: 1623px) and (min-width: 1234px) {
  .nav-bar {
    div {
      max-width: 1220px;
    }
  }
}

@media all and (max-width: 1233px) and (min-width: 828px) {
  .nav-bar {
    div {
      max-width: 812px;
    }
  }
}

@media all and (max-width: 827px) {
  .nav-bar {
    div {
      max-width: 420px;
    }
  }
}

@media (max-width: dimensions.$base-layout-breakpoint-small) {
  .select-language {
    margin-top: 10px !important;
    margin-right: 5px !important;
  }

  .select-language::after {
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-top: var(--size) solid black;
    top: 55%;
    background-color: red;
  }

  .nav-bar.login{
    div {
      max-width: calc(100%);
    }
  }
}
