<div class='{{TamanyMenu()}}' *ngIf="!navigationBarIsHidden">
  <div class="dashboard-container">
    <div class="left">
      <img id="sitmun-logo" class="nav-bar-img" (click)="homeRedirect()" alt="logo" src="assets/logos/logo_orange.png" *ngIf="IsConnected() && (headerBase?.logoSitmun?.visible !== false)"/>
      <div *ngFor="let item of headerLeftSection">
        <img class="nav-bar-img" *ngIf="item?.visible && item?.url" [src]="item?.url" [alt]="item?.alt" />
      </div>
    </div>

    <div class="right">
      <div *ngFor="let item of headerRightSection">
        <img class="nav-bar-img" *ngIf="item?.visible && item?.url" [src]="item?.url" [alt]="item?.alt" />
      </div>
      <secondary-button
        *ngIf="isOnMap() && showChangeAppOrTerritoryButton && (headerBase?.switchApplication?.visible !== false)"
        (click)="displayTerritoriesAppList = !displayTerritoriesAppList"
        [button_text]="'genericPrivateHeaders.changeAppOrTerritory' | translate"
        [button_img_url]="'assets/img/Icona-canviar.svg'"
        />
      <button (click)="homeRedirect()" [class.active]="navigationClassActive == 'home'" class="home-menu button-menu" *ngIf="IsConnected() && (headerBase?.homeMenu?.visible !== false)"> </button>
      <div class="select-language" *ngIf="(headerBase?.switchLanguage?.visible !== false)">
        <select [ngModel]="currentLang" (change)="useLanguage($event)">
          <option value="ca"> Català </option>
          <option value="en"> English </option>
          <option value="es"> Español </option>
          <option value="fr"> Français </option>
        </select>
      </div>
      <div class="profile-page" [class.active]="navigationClassActive == 'profile'" *ngIf="IsConnected() && !isPublicDashboard() && (headerBase?.profileButton?.visible !== false)">
        <p> {{ 'genericPrivateHeader.hi' | translate }},</p>
        <button (click)="profileRedirect()" class="button-menu">
          <div class="icon"></div>
          <p id="username"> {{ username | titlecase}} </p>
        </button>
      </div>
      <button class="logout button-menu" (click)="logout()" *ngIf="IsConnected() && !isPublicDashboard() && (headerBase?.logoutButton?.visible !== false)">
        <img src="assets/img/Icona-desconnexió.svg"/>
        <p> {{ 'genericPrivateHeader.logout' | translate }} </p>
      </button>
      <primary-button
        *ngIf="IsConnected() && !isResponsive && isPublicDashboard()"
        [button_text]="'loginPage.title' | translate"
        (click)="homeRedirect()"
        />
    </div>
  </div>
  <button class="hide-navigationbar" (click)="navigationBarIsHidden = true" *ngIf="isOnMap()">
    <img src="assets/img/Icona-fletxa-cap-avall.svg"/>
  </button>
</div>

<div class="navbar-responsive" *ngIf="IsConnected()">
  <div class="home-button" [class.active]="navigationClassActive == 'home'">
    <button (click)="homeRedirect()">
      <div class="icon"></div>
    </button>
  </div>

  <div class="profile-button" [class.active]="navigationClassActive == 'profile'" *ngIf="IsConnected() && !isPublicDashboard()">
    <button (click)="profileRedirect()">
      <div class="icon"></div>
    </button>
  </div>

  <div class="logout-button" *ngIf="!isPublicDashboard()">
    <button (click)="logout()">
      <div class="icon"></div>
    </button>
  </div>
</div>

<div class="navbar-map-hidden" *ngIf="isOnMap() && navigationBarIsHidden">
  <button (click)="navigationBarIsHidden = false">
    <img src="assets/img/Icona-menu.svg" />
  </button>
</div>

<div id="changeDisplayedMap" *ngIf="displayTerritoriesAppList && isOnMap()">
  <app-territories-list
  (close)="displayTerritoriesAppList = !displayTerritoriesAppList"/>
</div>
