<mat-card [class.embedded]="!showTitle && !showCloseButton">
  <mat-card-header *ngIf="showTitle || showCloseButton">
    <mat-card-title *ngIf="showTitle">
      {{ title }}
    </mat-card-title>
    <button
      *ngIf="showCloseButton"
      mat-icon-button
      class="card-close-button"
      [attr.aria-label]="'common.close' | translate"
      (click)="onClose()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content>
    <mat-form-field
      *ngIf="showSearch"
      class="search-field"
      appearance="outline">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        [placeholder]="searchPlaceholder"
        [ngModel]="searchValue"
        (ngModelChange)="onSearchChange($event)"
        autocomplete="off" />
      <button
        *ngIf="searchValue"
        matSuffix
        mat-icon-button
        (click)="clearSearch()">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-hint *ngIf="selectedId && filterHint" class="filter-hint">
        {{ filterHint | translate }}
      </mat-hint>
    </mat-form-field>

    <mat-list>
      <ng-container *ngFor="let group of items">
        <div *ngIf="group.group" class="group-header">{{ group.group }}</div>
        <mat-list-item
          *ngFor="let item of group.items; trackBy: trackByItemId"
          [id]="'item-' + item.id"
          [class.selected]="isItemSelected(item.id)"
          [class.unavailable]="isUnavailable(item.id)"
          [attr.aria-disabled]="isUnavailable(item.id)"
          (click)="onItemClick(item)"
          [style.cursor]="isUnavailable(item.id) ? 'not-allowed' : 'pointer'">
          <mat-icon
            *ngIf="selectedId"
            matListItemIcon
            [style.visibility]="isItemSelected(item.id) ? 'visible' : 'hidden'">
            check_circle
          </mat-icon>
          <span matListItemTitle [class.disabled-text]="isUnavailable(item.id)">
            {{ getItemName(item) }}
          </span>
          <img
            matListItemMeta
            *ngIf="hasLogo(item)"
            [ngSrc]="item[logoProperty]"
            width="40"
            height="40"
            [alt]="getItemName(item)"
            [class.disabled-image]="isUnavailable(item.id)" />
          <mat-icon
            matListItemMeta
            *ngIf="!hasLogo(item)"
            [class.disabled-icon]="isUnavailable(item.id)">
            {{ defaultIcon }}
          </mat-icon>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-card-content>
</mat-card>
