<div class="dashboard-item" [ngClass]="{'dashboard-item-maintenance': item.isUnavailable}">
  <div class="dashboard-item-image">
    <button (click)="navigateToMap(item.id)">
      <img [src]="item.logo || 'assets/img/card-no-image.svg'" />
    </button>
  </div>

  <div class="dashboard-item-content">
    <div class="dashboard-item-content-header">
      <button (click)="navigateToMap(item.id)">
        <h3 class="dashboard-item-title"> {{item.title}} {{item.name}} </h3>
      </button>
      <div class="dashboard-item-dot">
        <button class="dot" (click)="navigateToApplicationDetails(item.id)"> <img src="assets/img/dot.svg"/></button>
      </div>
    </div>

    <p class="dashboard-item-description" *ngIf="item.description">
      {{ item.description && item.description.length > DESCRIPTION_MAX_CHARACTER
          ? (item.description.slice(0, DESCRIPTION_MAX_CHARACTER) + '...')
          : item.description }}
    </p>
    <p class="dashboard-item-warning" *ngIf="item.maintenanceInformation && item.maintenanceInformation.length > 0"> {{ item.maintenanceInformation }} </p>
    <button class="dashboard-item-moreDetails" *ngIf="!item.isUnavailable" (click)="navigateToMap(item.id)"> {{ 'dashboardPage.moreDetails' | translate }} </button>
    <p class="dashboard-item-maintenanceInfo" *ngIf="item.isUnavailable"> {{ 'dashboardPage.maintenance' | translate }} </p>
  </div>
</div>
