<div id="searchbox">
  <form (submit)="handleSubmit(); $event.preventDefault()">
    <mat-form-field appearance="outline" class="search-field">
      <mat-label>{{ 'dashboardDialog.inputPlaceholder' | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        [attr.aria-label]="'dashboardDialog.inputPlaceholder' | translate"
        autocomplete="off" />
      <button
        *ngIf="searchControl.value"
        matSuffix
        mat-icon-button
        type="button"
        (click)="clearSearch()"
        [attr.aria-label]="'dashboardPage.searchClear' | translate">
        <mat-icon>close</mat-icon>
      </button>
      <mat-icon matPrefix>search</mat-icon>
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onOptionSelected($event.option.value)">
        <mat-option
          *ngFor="let option of suggestions"
          [value]="option"
          [attr.aria-label]="option.type + ': ' + option.name">
          <div class="suggestion-option">
            <mat-icon class="suggestion-icon">{{ getOptionIcon(option) }}</mat-icon>
            <span class="suggestion-name">{{ option.name }}</span>
            <img
              *ngIf="option.logo"
              [src]="option.logo"
              [alt]="option.name"
              class="suggestion-logo" />
          </div>
        </mat-option>
        <mat-option *ngIf="loading" disabled>
          <mat-spinner diameter="24"></mat-spinner>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</div>
