// Base
$transparent: #00000000;
$black: #1A0E00;
$orange:  #d79922; // - ORANGE
$orange-transp-60percent: #ff930099;
$orange-transp-20percent: #ff930033;
$orange-dark: darkorange;
$light-orange: #ffb146;
$white: white;
$light-blue: #758BFD;
$blue: #27187e;
$gray: gray;
$light-gray: lightgray;


// Common
$common-color-background: $white;
$common-color-background-with-opacity: rgba($white, .6);
$common-color-background-navbar: $orange;
$common-color-background-navbar-with-opacity: rgba($orange, .6);
$common-color-background-navbar-light: $light-orange;

$common-color-font-button: $white;
$common-color-font-primary: $light-blue;
$common-color-font-secondary: $blue;
$common-color-border-input: $gray;

// component specific

// Navigation bar
$navigation-bar-font: $white;
$navigation-bar-lang-button-background: $orange;
$navigation-bar-menu-button-background: $transparent;
$navigation-bar-button-logout-background: $orange;
$navigation-bar-button-logout-hover: $orange-dark;
$navigation-bar-menu-color: $light-orange;
$navigation-bar-menu-border: $light-orange;
$navigation-bar-menu-button-color: $light-orange;
$navigation-bar-menu-button-border-color: $light-orange;
$navigation-bar-menu-logout-button-background: $light-orange;

// Login page
$login-page-button-font: $white;
$login-page-button-login-background: $orange;
$login-page-button-login-hover: $orange-dark;
$login-page-button-public-background: $light-blue;
$login-page-button-public-hover: $blue;
$login-page-input-font: $gray;
$login-page-input-focus: $blue;

// Card component
$card-component-font: $black;
$card-component-background: $white;
$card-component-border: $blue;
$card-component-border-hover: $light-blue;
$card-component-img-hover: $light-blue;

// Dashboard component
$dashboard-component-button: $light-blue;
$dashboard-component-button-background: $white;
$dashboard-component-button-hover: $blue;
$dashboard-component-button-focus: $blue;
$dashboard-component-button-border: $light-blue;
$dashboard-component-button-border-hover: $blue;
$dashboard-component-button-border-focus: $blue;


// Modals

$modal-background-around-color: $orange;
$modal-background-border-color: $blue;
$modal-blue-color: $blue;
