<a class="tc-ctl-lcat-info-close"></a>
<h2>{@i18n $key="layerInfo"/}</h2>
<div><h3 class="tc-ctl-lcat-title test">{title}</h3></div>
<div class="tc-ctl-lcat-info-content">
    {?name}
    <div class="tc-ctl-lcat-name">
        {?isGroup}
        <h4 id="lcat-info-title">{@i18n $key="groupLayerId"/}</h4>
        {:else}
        <h4 id="lcat-info-title">{@i18n $key="layerId"/}</h4>
        {/isGroup}
        <div id="lcat-info"><pre>{name|s}</pre></div>
    </div>
    {/name}
    {?metadata}
    <div class="tc-ctl-lcat-metadata">
        <!--<h4>{@i18n $key="metadata"/}</h4>-->
        {#metadata}
        <a href="{url|s}" type="{format}" title="{formatDescription}" target="_blank">{formatDescription|s}</a>
        {/metadata}
    </div>
    {/metadata}
    {?dataUrl}
    <div class="tc-ctl-lcat-descarregadades">
        <!--<h4>{@i18n $key="descarregadades"/}</h4>-->
        {#dataUrl}
        <a href="{url|s}" type="{format}" title="{formatDescription}" target="_blank">{formatDescription}</a>
        {/dataUrl}
    </div>
    {/dataUrl}
    {?url}
    <div class="tc-ctl-lcat-url">
        <h4>{@i18n $key="url"/}</h4>
        <a href="{url|s}?service=wms&request=getcapabilities" target="_blank">{url|s}</a>
    </div>
    {/url}
    {?abstract}
    <div class="tc-ctl-lcat-abstract">
        {?isGroup}
        <h4>{@i18n $key="groupAbstract"/}</h4>
        {:else}
        <h4>{@i18n $key="abstract"/}</h4>
        {/isGroup}
        <div><pre>{abstract|s}</pre></div>
    </div>
    {/abstract}
    {?parentAbstract}
    <div class="tc-ctl-lcat-parentAbstract">
        <h4>{@i18n $key="parentAbstract"/}</h4>
        <div><pre>{parentAbstract|s}</pre></div>
    </div>
    {/parentAbstract}
    {?contactPerson}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="contactPerson"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{contactPerson|s}</pre></div>
    </div>
    {/contactPerson}
    {?contactOrganization}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="contactOrganization"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{contactOrganization|s}</pre></div>
    </div>
    {/contactOrganization}
    {?contactMail}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="contactMail"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{contactMail|s}</pre></div>
    </div>
    {/contactMail}
    {?contactTelephone}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="contactTelephone"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{contactTelephone|s}</pre></div>
    </div>
    {/contactTelephone}
    {?fees}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="fees"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{fees|s}</pre></div>
    </div>
    {/fees}
    {?accessConstraints}
    <div class="tc-ctl-lcat-info-data">
        <h4 class="tc-ctl-lcat-info-data-title">{@i18n $key="accessConstraints"/}</h4>
        <div class="tc-ctl-lcat-info-data-content"><pre>{accessConstraints|s}</pre></div>
    </div>
    {/accessConstraints}

</div>