<a class="tc-ctl-lcat-proj-window"></a>
<a class="tc-ctl-lcat-proj-close"></a>
<h3>{@i18n $key="/changeTopic"/}</h3>
<div><h4 class="tc-ctl-lcat-title">{title}</h4></div>
<div class="tc-ctl-lcat-proj-content">
    <div class="tc-ctl-lcat-proj-subtitle">{@i18n $key="/projSubtitle"/}</div>
    <ul class="tc-ctl-lcat-proj-childs">
        {#catalogs}
        <li class="tc-ctl-lcat-proj-catalog">
          <input type="hidden" class="tc-ctl-lcat-proj-catalog-id" value="{id}">
          <label id="tc-ctl-proj-catalog-title">{catalog}</label>
        </li>
        {/catalogs}
    </ul>
</div>
<div class="tc-ctl-lcat-proj-buttons">
  <button class="tc-ctl-lcat-proj-cancel">{i18n $key="/cancel"/}</button>
  <button class="tc-ctl-lcat-proj-accept">{i18n $key="/ok"/}</button>
</div>

