@use 'colors';
@use 'dimensions';

#content {
  background-color: colors.$blue-light;

  #application {
    padding-top: 50px;
    margin: 0 auto;
    width: 93%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;

    #application-title,
    app-return-button {
      padding-left: 20px;
    }

    #application-details {
      display: flex;
      gap: 24px;

      #left-side {
        flex: 2;
        max-width: 70%;

        app-application-details {
          width: 100%;
        }
      }

      #right-side {
        flex: 1;

        #associated-territories {
          box-sizing: border-box;
          height: 400px;
          min-height: 400px;
          max-height: 400px;
          display: flex;
          flex-direction: column;
          overflow: hidden;

          app-selectable-list {
            display: flex;
            flex: 1;
            min-height: 0;
            overflow: hidden;

            ::ng-deep mat-card.embedded mat-card-content {
              padding: 0;
            }
          }
        }
      }
    }

    button:not(.mat-mdc-button) {
      all: unset;
      padding-left: 20px;
    }

    button:not(.mat-mdc-button):hover {
      cursor: pointer;
      color: colors.$primary-orange;
    }
  }
}

@media (max-width: dimensions.$base-layout-breakpoint-small) {
  #application {
    width: 100% !important;
    margin-top: 20px;
    padding: 0px;
  }

  #application-details {
    flex-direction: column;
    padding-left: 0px;

    #left-side,
    #right-side {
      flex: unset;
      flex-wrap: nowrap;
    }

    #right-side {
      width: 100vw;
      margin-bottom: 150px;

      #associated-territories {
        height: 250px;
        min-height: 250px;
        max-height: 250px;
      }
    }
  }
}
