<div id="content">
  <div id="application" *ngIf="application">
    <app-return-button> </app-return-button>
    <div id="application-title">
      <h1> {{ application.title || application.name }} </h1>
    </div>
    <div id="application-details">
      <div id="left-side">
        <app-application-details
        [application]="application"/>
      </div>
      <div id="right-side">
        <div id="associated-territories">
          <app-selectable-list
            [items]="groupedTerritories"
            [showTitle]="true"
            [title]="'application.territoriesAssociated' | translate"
            [showCloseButton]="false"
            [showCount]="true"
            [totalCount]="territories.length"
            [countLabel]="'dashboardPage.nbTerritoriesTitle' | translate"
            [logoProperty]="'territorialAuthorityLogo'"
            [nameProperty]="'name'"
            [defaultIcon]="'language'"
            [showSearch]="territories.length > 1"
            [searchPlaceholder]="'dashboardDialogTag.inputPlaceholder' | translate"
            [searchValue]="searchValue"
            (searchValueChange)="onSearchChange($event)"
            (itemClicked)="onTerritoryClick($event)">
          </app-selectable-list>
        </div>
      </div>
    </div>
  </div>
</div>
