@import url("js/sitna/TC/layout/responsive/style.css");

:root {
  --color-3: #FF9300;
}

.slide-panel > h1 {
  background-color: #FF9300;
}

.slide-panel > h1 {
  background-color: var(--color-3);
  border-radius: 1.5rem;
}

.tc-float-btn {
  background-color: var(--color-3);
}

.tc-ctl-nav .tc-ctl-nav-slider {
  background-color: var(--color-3);
}

.tc-ctl-nav .tc-ctl-nav-bar {
  opacity: 1;
  background: rgba(80%, 80%, 80%, 0.5);
}

.tc-ctl-sb .ol-scale-line .ol-scale-line-inner {
  border: solid 2px #FF9300;
  border-top: 0;
  text-align: center;
  color: inherit;
}
