@use 'dimensions';
@use 'colors';

app-dashboard-expand-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 10px;
}

h3 {
  color: colors.$gray;
  font-size: 23px;
}

.separation-line {
  border: none;
  border-top: 1px solid colors.$gray;
  opacity: 0.15;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 100%;
}

.center-container {
  width: 400px;
  height: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: auto;

}

.cards-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1500px) {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  // Voir pour mettre un max width
}


@media (max-width: dimensions.$base-layout-breakpoint-small) {
  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;

    .card {
      flex: 1 1 calc(50% - 10px);
      max-width: calc(50% - 10px);
      box-sizing: border-box;
      min-width: 100px;
    }
  }


  .main-content {
    padding-bottom: 150px;
  }
}
