@use 'dimensions';
@use 'colors';

#application-details {
  width: 800px;

  #application-title {
    padding-left: 20px;
  }

  #application-informations {
    display: flex;
    align-items: center;
    gap: 16px;

    #application-information-logo {
      padding-left: 20px;

      img {
        border-radius: 15px;
        width: 150px;
        height: 150px;
      }
    }

    #application-information-details {
      p {
        color: gray;
      }
    }
  }

  span {
    font-weight: bold;
    color: black;
  }

  #application-description {
    padding-left: 20px;

    #application-description-title {
      font-weight: bold;
    }

    #application-description-content {
      color: gray;
    }
  }
}

.value-missing {
  font-style: italic;
}

@media (max-width: dimensions.$base-layout-breakpoint-small) {
  #application-details {
    width: 100%;
  }

  #application-title {
    padding-left: 0px;
  }

  #application-informations {
    margin-left: 20px;
    flex-direction: column;
    align-items: flex-start;
  }

  #application-information-logo {
    padding-left: 0px !important;
    margin-bottom: 20px;
    justify-content: center;
    width: 100%;
  }

  * {
    padding-left: 0px;
  }

  #application-information-details p {
    word-wrap: break-word;
    max-width: 100%;
  }

  #right-side {
    margin-bottom: 160px;
  }

}
