@use 'dimensions';
@use 'colors';

$layout-breakpoint-small: 540px;

form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 30px 0;
  max-width: 400px;
  height: dimensions.$dashboard-page-input-height;
  padding: 0 15px;
  border: 3px solid #27187e;
  border-radius: 50px;

  input {
    border: none;
  }

  .text-input {
    border-radius: 50px;
    font-size: 20px;
  }

  .text-input:active {
    outline: none;
    box-shadow: none;
  }

  .text-input:focus {
    outline: none;
    box-shadow: none;
  }

  .text-input:focus-visible {
    outline: none;
    box-shadow: none;
  }

  .text-input:active {
    outline: none;
    box-shadow: none;
  }

  button {
    width: 50px;
    height: 44px;
    padding: 0;
    background: white;
    border: none;
    cursor: pointer;
  }
}

form:hover {
  border-color: #758BFD;
}

@media (max-width: $layout-breakpoint-small) {
  form {
    margin: 20px 4px;
  }
}
