@use 'colors';
@use 'dimensions';

#research {
  margin-bottom: 20px;
  width: 600px;
}

#content {
  min-height: 100vh;
  height: 100%;

  #territory {
    padding-top: 5%;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    #territory-details {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 24px;

      #left-side {
        flex: 3;
        max-width: 75%;

        #dashboard-items-user {
          p {
            font-size:x-large ;
            color: gray;
          }
        }

        #expand-button {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;
        }
      }

      #right-side {
        flex: 1;
        #territory-information {
          box-sizing: border-box;
          background-color: white;
          width: 100%;
          height: auto;
          padding-top: 10px;
          padding-left: 20px;
          padding-right: 20px;
          padding-bottom: 10px;

          .no-description {
            color: gray;
            font-style: italic;
          }
        }
      }
    }

    button {
      all: unset;
    }

    button:hover {
      cursor: pointer;
      color: colors.$primary-orange;
    }
  }
}

@media (max-width: dimensions.$base-layout-breakpoint-small) {
  #research {
    width: 100%;
  }

  #territory {
    width: 100% !important;
    margin-top: 20px;
    padding: 0 !important;
    box-sizing: border-box;

    button {
      padding: 10px !important;
    }

    h1 {
      width: 95% !important;
      padding: 10px;
    }
  }

  #territory-details {
    flex-direction: column;
    gap: 0;

    #left-side,
    #right-side {
      flex: unset;
    }

    #left-side {
      flex: unset;
      box-sizing: border-box;
      max-width: 100% !important;
      width: 100% !important;
      padding: 10px;
    }

    #right-side {
      width: 100vw;
      margin-bottom: 150px;
      padding: 0px !important;
    }
  }
}

.center-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  pointer-events: auto;
}
