@use 'colors';

.map {
  display: flex;
  flex-direction: column;

  .map-options {
    display: flex;
    justify-content: right;
    position: relative;
    bottom: 60px;
    margin-right: 600px;

    button {
      height: 35px;
      width: 80px;
      margin: 0 10px;
      background: white;
    }
  }

  .map-container {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}


