<h2>{{i18n "backgroundMaps"}}</h2>
<div class="tc-ctl-bms-tree">
  <form>
    <table style="width:100%;">
      <tr>
        <td id="td_baseLayer1" class="verde activo" onclick="selectB1()"><span id="lbl_baseLayer1"></span></td>
        <td style="width:50%;">
          <input type="range" id="rangeTransparency" name="rangeTransparency" value="100" style="width:100%;" />
        </td>
        <td id="td_baseLayer2" class="azul" onclick="selectB2()"><span id="lbl_baseLayer2"></span></td>
      </tr>
    </table>

    <ul class="tc-ctl-bms-branch">
      {{#each baseLayers}}
        {{> tc-ctl-bms-node controlId=..}}
      {{/each}}
      {{#each dialogMore}}
        <li class="tc-ctl-bms-node">
          <label class="tc-ctl-bms-more-node" title="{{i18n "moreBackgroundMaps"}}">
            <input type="radio" name="bms" value="moreLayers">
            <span></span>
          </label>
        </li>
      {{/each}}
    </ul>
  </form>
</div>
