<div id="user-profile-section">
  <p id="redirect-link">
    <a href=""> < {{'profile.back' | translate }} </a>
  </p>
  <h1> {{'profile.myAccount' | translate }} </h1>

  <div id="profile-informations">
    <h2> {{'profile.profileInformation' | translate }} </h2>
    <div id="main-informations">
      <app-profile-information
        [profile_icon_url]="'assets/img/Icona-hashtag-azul.svg'"
        [profile_description]="'profile.userId' | translate"
        [profile_value]="userProfile.id.toString()" />

      <app-profile-information
        [profile_icon_url]="'assets/img/Icona-usuari-azul.svg'"
        [profile_description]="'profile.login' | translate"
        [profile_value]="userProfile.username" />

      <app-profile-information
        [profile_icon_url]="'assets/img/Icona-contrasenya-azul.svg'"
        [profile_description]="'profile.password' | translate"
        [profile_value]="hidenPassword"
        [is_profile_editable]="true"
        [input_type]="'password'"
        (new_value)="editPasswordInformation($event)"/>

      <app-profile-information
        [profile_icon_url]="'assets/img/Icona-correu-azul.svg'"
        [profile_description]="'profile.mainEmail' | translate"
        [profile_value]="userProfile.email"
        [is_profile_editable]="true"
        (new_value)="editEmailInformation($event)"/>
    </div>

    <div id="saveButton">
      <primary-button
        [button_text]="'profile.saveProfileSaveText' | translate"
        (click)="displayPopupSaveProfile()" />
    </div>
  </div>
</div>

<div id="territories-profile-section" >
  <h2> {{'profile.territories' | translate }} </h2>

  <div id="territories-informations" *ngIf="territories.length > 0">
    <!-- Select territory -->
    <!-- If the number of territories is < territories limit, buttons are displayed -->
    <div *ngIf="territories.length <= TERRITORIES_LIMIT; else overLimit">
      <button
        *ngFor="let territory of territories"
        (click)="selectTerritory(territory)"
        class="territory-button-item"
        [ngClass]="{'selected': selectedTerritory === territory}">
        {{ territory.name }}
      </button>
    </div>
    <!-- If the number of territories is > territories limit, select box is displayed -->
    <ng-template #overLimit>
      <div *ngIf="territories.length > TERRITORIES_LIMIT">
        <select id="territory-select-list" (change)="selectTerritory($event)">
          <option
            *ngFor="let territory of territories"
            class="territory-option-item">
            {{ territory.name }}
          </option>
        </select>
      </div>
    </ng-template>

    <!-- territory informations -->
    <div id="territory-informations">
      <div>
        <p id="territoryManagement-title"> {{ 'profile.territoryManagement' | translate }} </p>
        <div class="wrapper">
          <table class="territory-table">
            <thead>
              <tr>
                <th scope="col" class="mail-col"> {{ 'profile.email' | translate }} </th>
                <th scope="col" class="org-col"> {{ 'profile.organization' | translate }} </th>
                <th scope="col" class="na-col"> {{ 'profile.name' | translate }} </th>
                <th scope="col" class="type-col"> {{ 'profile.type' | translate }} </th>
                <th scope="col" class="from-col"> {{ 'profile.validityFrom' | translate }} </th>
                <th scope="col" class="to-col"> {{ 'profile.validityTo' | translate }} </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let position of selectedTerritory.positions; let i = index" [ngClass]="{'row-even': i % 2 === 0, 'row-odd': i % 2 !== 0}">
                <td class="mail-col"> {{ position.email }} </td>
                <td class="org-col organization-row" [attr.id]="'organization-' + position.id">
                  <div class="content">
                    <p> {{ position.organization }} </p>
                    <input hidden="true"/>
                    <button (click)="changeValue(position.id, position.organization, 'organization-')">
                      <img src="assets/img/Icona-modificar-naranja.svg"/>
                    </button>
                  </div>
                </td>
                <td class="name-col name-row" [attr.id]="'name-' + position.id" [ngClass]="{ 'no-type': !position.name }">
                  <div class="content">
                    <p>{{ position.name ? position.name : '-' }}</p>
                    <input hidden="true" />
                    <button (click)="changeValue(position.id, position.name, 'name-')">
                      <img src="assets/img/Icona-modificar-naranja.svg"/>
                    </button>
                  </div>
                </td>
                <td class="type-col" [ngClass]="{ 'no-type': !position.type }"> {{ position.type ? position.type : '-'}} </td>
                <td class="from-col" [ngClass]="{ 'no-type': !position.createdDate }">
                  <ng-container *ngIf="position.createdDate; else emptyDate">
                    {{ position.createdDate | date: 'dd/MM/yyyy' }}
                  </ng-container>
                  <ng-template #emptyDate>-</ng-template>
                </td>

                <td class="to-col" [ngClass]="{ 'no-type': !position.expirationDate }">
                  <ng-container *ngIf="position.expirationDate; else emptyDate">
                    {{ position.expirationDate | date: 'dd/MM/yyyy' }}
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-overlay" *ngIf="displayPopup"></div>
<div id="popup-save-profile" *ngIf="displayPopup">
  <h2> {{ 'profile.saveProfilePopup' | translate}} </h2>
  <p> {{ 'profile.saveProfileDescription' | translate}} </p>

  <form-field-input
    [input_type]="'password'"
    [input_title]="'profile.saveProfilePasswordText' | translate"
    [input_placeholder]="'profile.saveProfilePasswordPlaceholder' | translate"
    [input_name]="'username'"
    [input_model]="passwordField"
    (output_model)="passwordField = $event" />

  <div>
    <primary-button
      [button_text]="'profile.saveProfileSaveText' | translate"
      (click)="saveProfile()" />

    <primary-button
      [button_text]="'profile.saveProfileBack' | translate"
      (click)="HidePopupSaveProfile()" />
  </div>
</div>
