@use 'colors';
@use 'dimensions';

.dashboard-container {
  max-width: 1630px;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 1623px) and (min-width: 1234px) {
  .dashboard-container {
    max-width: 1220px;
  }
}

@media all and (max-width: 1233px) and (min-width: 828px) {
  .dashboard-container {
    max-width: 812px;
  }
}

@media all and (max-width: 827px) {
  .dashboard-container {
    max-width: 420px;
  }
}
