@use 'colors';
@use 'dimensions';

.dashboard-container {
  max-width: 93%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

#research {
  margin-bottom: 20px;
}

@media (max-width: dimensions.$base-layout-breakpoint-small) {
  #research {
    width: 70%;
  }
}
