<div class="profile-information">
  <img
    class="profile-icon"
    *ngIf="profile_icon_url as iconUrl"
    [ngSrc]="iconUrl"
    width="24"
    height="24"
    [alt]="profile_description" />

  <p class="profile-description">{{ profile_description }}</p>

  <p class="profile-value" *ngIf="!editionActive">
    {{
      profile_value
        ? profile_value.length > PROFILE_VALUE_MAX_CHARACTER
          ? (profile_value | slice : 0 : PROFILE_VALUE_MAX_CHARACTER) + '...'
          : profile_value
        : ''
    }}
  </p>
  <input
    *ngIf="editionActive"
    [type]="input_type"
    [(ngModel)]="newProfileValue"
    (keydown.enter)="editInformation()"
    (keydown.escape)="setEditionNotActive()" />

  <button
    *ngIf="!editionActive && is_profile_editable"
    class="profile-editable-icon"
    (click)="setEditionToActive()">
    <img [ngSrc]="ICONE_MODIFICATION" alt="Edit" width="18" height="18" />
  </button>
  <button
    *ngIf="editionActive && is_profile_editable"
    class="profile-editable-icon"
    (click)="editInformation()">
    <img [ngSrc]="ICONE_VALIDATION" alt="Save" width="18" height="18" />
  </button>
</div>
