<div class="public-dashboard">
  <div class="header">
    <div class="back-to-login">
      <button type="button" (click)="backToLogin()"><- {{'publicDashboardPage.backToLoginButton' | translate}}</button>
    </div>
    <div class="show-by-territories">
      <select #dashboardType (change)="onChange(dashboardType.value)">
        <option [value]="DashboardTypes.APPLICATIONS">{{'dashboardPage.showByApplications' | translate}}</option>
        <option [value]="DashboardTypes.TERRITORIES">{{'dashboardPage.showByTerritories' | translate}}</option>
      </select>
    </div>
  </div>
  <div class="container">
    <ng-container *ngIf="type === DashboardTypes.APPLICATIONS">
      <h1>{{'publicDashboardPage.applicationsTitle' | translate}}</h1>
      <div class="cards-container">
        <div class="application" *ngFor="let app of applicationsList" (click)="goToMap()">
          <div class="card-img">
            <img src="assets/logos/logo_sitmun.svg">
          </div>
          <div class="card-titles">
<!--            <h2>{{'dashboardPage.img' | translate}}: {{territory.img}}</h2>-->
            <h4>{{'dashboardPage.id' | translate}}: {{app.id}}</h4>
            <h4>{{'dashboardPage.name' | translate}}: {{app.name}}</h4>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="type === DashboardTypes.TERRITORIES">
      <h1>{{'publicDashboardPage.territoriesTitle' | translate}}</h1>
      <div class="cards-container">
        <div class="application" *ngFor="let territory of territoriesList" (click)="goToMap()">
          <div class="card-img">
            <img src="assets/logos/logo_sitmun.svg">
          </div>
          <div class="card-titles">
<!--            <h2>{{'dashboardPage.img' | translate}}: {{territory.img}}</h2>-->
            <h4>{{'dashboardPage.id' | translate}}: {{territory.id}}</h4>
            <h4>{{'dashboardPage.name' | translate}}: {{territory.name}}</h4>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
