.public-dashboard {
  text-align: center;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
      padding: 0.8em;
      color: black;
      background: white;
      font-weight: bold;
      border: 2px solid black;
    }
    button:hover {
      color: white;
      background: orange;
      border-color: white;
    }

    .back-to-login {
      margin: 2em;
      text-align: left;
    }

    .show-by-territories {
      margin: 2em;
      text-align: right;

      select {
        color: black;
        background: white;
        font-weight: bold;
        padding: 0.5em;
        border: 2px solid black;
      }
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    .cards-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      .application {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
        background: #eeeeee;
        width: fit-content;
        margin: 2em;
        padding: 0 2em;
        border-radius: 20px;
        border: 3px solid orange;
      }

      .application:hover {
        color: white;
        background: orange;
      }

      .card-img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        margin: 20px 0;
        padding: 1em;
        background: orange;
        border-radius: 10px;
      }

      .card-titles {
        display: flex;
        flex-direction: column;

        h4 {
          margin: 10px 0 10px 10px;
        }
      }

    }
  }
}
