.back-to-login {
  margin: 80px 0 0 80px;

  button {
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    color: #758BFD;
    background: white;
    border: 3px solid #758BFD;
  }

  button:hover {
    color: white;
    background: #758BFD;
  }
}

.dashboard-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 80px 0 80px;

  button {
    font-weight: bold;
    font-size: 30px;
    color: #758BFD;
    background: white;
    border: none;
    border-bottom: 3px solid #758BFD;
    padding-bottom: 5px;
  }

  button:hover {
    color: #27187E;
    border-color: #27187E;
  }

  button:focus {
    color: #27187E;
    border-color: #27187E;
  }
}
