@use 'src/styles/dimensions';
@use 'src/styles/colors';

.dashboard-buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 80px 20px 0 20px;

  .selected {
    color: colors.$dashboard-component-button-focus;
    border-color: colors.$dashboard-component-button-border-focus;
  }

  button {
    font-weight: bold;
    font-size: dimensions.$base-font-size-xxl;
    color: colors.$dashboard-component-button;
    background: colors.$dashboard-component-button-background;
    border: none;
    border-bottom: dimensions.$base-border-3 solid colors.$dashboard-component-button-border;
    padding-bottom: 5px;
  }

  button:hover {
    color: colors.$dashboard-component-button-hover;
    border-color: colors.$dashboard-component-button-border-hover;
  }

  button:focus {
    color: colors.$dashboard-component-button-focus;
    border-color: colors.$dashboard-component-button-border-focus;
  }
}
