<div class="login-page" [ngClass]="{'login-page-background': displayBackgroundImage}">
  <div class="container">

    <div class="title-section">
      <div class="logo-sitmun"></div>
      <h1> {{'loginPage.title' | translate }} </h1>
      <div class="public-dashboard">
        <p> {{'loginPage.noConnexionDetails' | translate }} </p>
        <primary-button
          [button_text]="'loginPage.publicDashboardButton' | translate"
          [mat_icon]="'public'"
          (click)="publicDashboard()"
          />
      </div>
    </div>

    <div class="form-section">
      <form (submit)="login()">
        <app-form-field-input
          [input_type]="'text'"
          [input_title]="'loginPage.usernameText' | translate"
          [input_placeholder]="'loginPage.usernamePlaceholder' | translate"
          [input_name]="'username'"
          [input_model]="authenticationRequest.username"
          (output_model)="authenticationRequest.username = $event" />
        <app-form-field-input
          [input_type]="displayPassword"
          [input_title]="'loginPage.passwordText' | translate"
          [input_placeholder]="'loginPage.passwordPlaceholder' | translate"
          [input_name]="'password'"
          [input_image]="passwordImage"
          [input_model]="authenticationRequest.password"
          (output_model)="authenticationRequest.password = $event"
          (input_button_click)="showOrHidePassword()"/>
        <p>
          <a href="auth/forgot-password"> {{'loginPage.passwordForgotten' | translate }} </a>
        </p>
        <primary-button
          class="login-button"
          [button_text]="'loginPage.submit' | translate"
          [mat_icon]="'login'" />
      </form>
      <secondary-button [button_text]="'loginPage.DNIE' | translate" *ngIf="displayDNIEButton"/>
    </div>
  </div>
</div>
