@use 'colors';
@use 'dimensions';

@keyframes fadeIn {
  from {
    background-position: 0% 100%;
  }
  to {
    background-position: 50% 100%;
  }
}

/* Prevents the gradient from overlapping the elements */
.login-page * {
  position: relative;
}

.login-page {
  position: absolute;
  background:
    linear-gradient(to bottom, colors.$common-color-background-navbar 1%,
    colors.$common-color-background-navbar-with-opacity 30%, colors.$common-color-background-with-opacity 80%), url('~../../../../assets/img/login-back.png') no-repeat;
  height: calc(100% - 80px);
  width: 100%;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  position: fixed;
  padding-left: 150px;
  background-image: url('~../../../../assets/logos/bck_no_logo.jpg');
  background-position: bottom;
  background-size: cover;
  height: 100%;
  background-repeat: no-repeat;
  top: 0;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #0A0623 15%, transparent 100%);
}

::ng-deep .login-button {
  button {
    height: 55px;
    margin-top: 20px;
  }
}

.container {
  animation: none;
  padding: 30px;
  border-radius: 10px;

  .title-section {
    color: colors.$common-color-font-secondary;
    display: flex;
    flex-direction: column;

    .logo-sitmun {
      width: 70%;
      height: 75px;
      background-image: url('~../../../../assets/logos/logo_orange.png');
      background-size: contain;
      background-repeat: no-repeat;
      color: transparent;
      font-weight: bold;
      margin-top: 0px;
      margin-bottom: 50px;
    }

    h1 {
      margin: 0;
      padding: 0;
      color: colors.$login-page-button-font;
      font-size: 40px;
    }

    .public-dashboard {
      display: flex;
      flex-direction: row;

      p {
        margin: 0;
        color: colors.$login-page-button-font;
        display: flex;
        flex-direction: row;
        padding: 3px;
        align-items: center;
        margin-right: 20px;
      }

      a {
        cursor: pointer;
        color: colors.$login-page-input-text;
        display: inline-flex;
        align-items: center;
        gap: 2px;
      }

      a img {
        height: 20px;
        width: auto;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .form-section {
    p {
      color: #B7B6BE;
      margin: 0px;
      padding-bottom: 20px;
    }

    form {
      display: flex;
      flex-flow: column;

      div {
        margin: dimensions.$base-margin-1-5 0;
        width: dimensions.$login-page-input-width + 90px;
        height: dimensions.$login-page-input-height + 10px;
        padding: 0 dimensions.$base-margin-3;
        border-radius: 5px;
        outline: 0;
        box-sizing: border-box;
        box-shadow: 0 4px 8px rgba(170, 170, 170, 0.1);
        background-color: rgba(255, 255, 255, 0.192);
        color: white;
      }

      p {
        color: transparent;

        a {
          text-decoration: none;
          color: #B7B6BE;
        }

        a:hover {
          color: colors.$login-page-input-text;
        }
      }


    }
  }
}


/* Layout for phone */
@media (max-width: dimensions.$base-layout-breakpoint-small) {
  html, body {
    height: 100%;
    margin: 0;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .login-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(135deg, transparent 15%, rgba(2, 0, 15, 0.568) 50%, rgba(10, 6, 35, 0.568) 85%),
      linear-gradient(315deg, transparent 15%, rgba(10, 6, 35, 0.568) 50%, rgba(10, 6, 35, 0.568) 85%);

  }

  .login-page {
    padding-left: 30px;

    .container {
      padding: 0px;
      width: 100%;
      max-width: 600px;
      margin: 0;

      .title-section {
        .logo-sitmun {
          width: 50%;
          height: 75px;
        }

        .public-dashboard {
          display: flex;
          flex-direction: column;
          gap: 10px;
        }
      }

      .form-section {
        form {
          div {
            width: 80%;
          }
        }
      }
    }
  }
}
